* {
  margin: 0;
  padding: 0;
}
html {
  /* cursor: url(../images/hearts.png), auto; */
  /* cursor: url("https://blog.kakaocdn.net/dn/BQXpN/btq3qNR67Lg/8tx8tGzkOcr5BuX5dyIaKk/img.png"),
    auto; */
}
body {
  font-family: "맑은고딕";
  font-family: 'Jua', sans-serif;
  font-size: 14px;
  color: #555;
}
ol,
ul,
li {
  list-style: none;
  white-space:nowrap;
}
a {
  text-decoration: none;
  white-space:nowrap;
}
img {
  border: 0;
}
button {
  font-family: "Single Day", cursive;
}
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap'); */
